<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd">
           
           <bean id="point" class="model.Point">
           		<!-- <property name="x" value="10"></property>
           		<property name="y" value="20"></property> -->
           		<!-- <constructor-arg value="12"></constructor-arg> -->
           		<!-- <constructor-arg value="5" index="0"></constructor-arg>
           		<constructor-arg value="27" index="1"></constructor-arg> -->
           		
           		<constructor-arg value="5" type="int"></constructor-arg>
           		<constructor-arg value="27" type="String"></constructor-arg>
           		
           		<!-- <constructor-arg value="18"></constructor-arg> -->
           </bean>
</beans>